@font-face {
	font-family: 'Century';
	src: url('../assets/fonts/headerfont.ttf');
}

@font-face {
	font-family: 'Bread';
	src: url('../assets/fonts/textfont.ttf');
}

/*Common Elements*/

.section {
	margin: 50px 20px 20px 20px;
	position: relative;
	height:600px;
  font-family: 'Century';
}

/*Landing Page*/

#intro-container {
	overflow: hidden;
	width:683px;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#jumbo-image img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 60px;
	width: 683px;
}

.bread-text{
  font-family: "Verdana";
  font-size: 40px;
}

#sex-sounds {

}

#missionary {
  width:400px;
  margin-left: auto;
  margin-right: auto;
}

#dictionary {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  /*border-style: */
  width: 400px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#dictionary p {
  font-family: "Times New Roman";
  font-size: 14pt;
  font-style: italic;
}

.screwHolder {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#screwYou, #screwYouText, #screwThem, #screwThemText {
  width: 250px;
  float: left;
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
}

#reset {
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#buttons {
	margin-top: 60px;
	font-family: "Century";
	font-size: 125px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width:360px;
}

#text {
	font-family: "Century";
	width:380px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	display: block;

}
#sweden {
	display: block;
	margin-left: 3px;
	margin-top: 2px;
}

#average-amount-of-sexpartners{
  margin:auto 0;
  margin-top: 200px;
  text-align: center;
}

#average-amount-of-sexpartners-buttons{
  margin-top: 70px;
  padding-left: 50px;
  font-size: 20px;
  float: left;
}



/*jam jars*/
#lingonberry{
	position:absolute;
  margin-top:30px;
	margin-bottom: 2800px;
	left:0; right:0; bottom:0;top:0;
}
.lingonberry-section{
	height:4000px;
}

/*Fantasy*/
.headline {
	width:700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position:relative;
	font-family: "Century";
	font-size: 40px;
}

.headline1 {
  width:250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  text-align: center;
  position:relative;
  font-family: "Century";
  font-size: 60px;
}

/*Fantasy*/

/*Images*/

#fantasyImageCarousel {
        width: 400px;
        overflow:hidden;
    }

#fantasyImageCarousel ul {
    width: 4200px;
    padding: 0;
    margin: 0;
}

#fantasyImageCarousel ul li {
    width:480px;
    text-align: center;
    height: 280px;
    list-style: none;
    float:  left;
}

#fantasyImageCarousel img {
    height:300px;
}

/*Percentages*/

#fantasyPercentageCarousel {
        width: 400px;
        overflow:hidden;
    }

#fantasyPercentageCarousel ul {
    width: 4200px;
    padding: 0;
    margin: 0;
}

#fantasyPercentageCarousel ul li {
    width:480px;
    text-align: center;
    height: 20px;
    list-style: none;
    float:  left;
}

/*Names*/

#fantasyNameCarousel {
        width: 400px;
        overflow:hidden;
    }

#fantasyNameCarousel ul {
    width: 4200px;
    padding: 0;
    margin: 0;
}

#fantasyNameCarousel ul li {
    width:480px;
    text-align: center;
    height: 20px;
    list-style: none;
    float:  left;
}

#gender {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#gender img {
  float: left;
  width: 200px;
}

	/* MOOSE */

#moose_head, #moose_antlers {
    margin:0 0 0 -200px; /* where 400px is width offset is / 2) */
    position:absolute;
    top:0;left:50%;
}

#moose_antlers{
    margin:0 0 0 -206px; /* let's guess second image was 200px wide */
}
form output{
position: relative;
left:41%;
font-size: 30px;
}


form {
  font-family: century;
  width: 300px;
  margin: 0 auto;
  position: relative;
  padding-top: 20px
}

form > div {
  position: relative;
  margin: 0 0 10px;
  z-index: 12;
}

label {
  display: block;
  margin: 0 0 10px;
}

input[type="range"] {
  width: 100%;
  height: 7px;
  background: #fff;
  overflow: hidden;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  z-index: 3;
  width: 15px;
  height: 15px;
  background: #000000;
}

input[type="range"]::-webkit-slider-thumb:hover {
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:after {
  content: '';
  width: 500px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 1;
  background: #999999;
}

output {
  position: absolute;
  top: 0;
  right: 0;
}


/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {


}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {


}

/* Landscape phones and down */
@media (max-width: 480px) {


}

/*POSITIONS*/
.grid-container {
  margin: 0 auto;
  max-width: 60em;
  overflow: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}


.grid {
  margin: 0 auto;
}

.item {
  color: white;
  font-size: 20px;
  margin: 5px;
  width: 230px;
  background: #ffffff;
  border: 1px solid #CCCCCC;
}

.position_title {
  font-family: "Century";
  font-size: 20px;
  position: relative;
  color: #000000;
  padding-left:10px;
  width:10px;
}

.price_tag {
   position: absolute;
   top:10px;
   right:10px;
   width: 60px; /* for IE 6 */
}

.add-to-cart-div {
   position: absolute;
   bottom:17px;
   right:10px;
  font-size:11px;


}
.add-to-cart {
    background-color:#0076d1;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:none;
    display:inline-block;
    cursor:pointer;
    height:100%;
    width: 100%;
    color:#ffffff;
    font-family:Verdana;
    font-weight:bold;
    padding:7px 8px;
    text-decoration:none;

}
.add-to-cart:hover {
    background-color:#0380e0;
}
.add-to-cart:active {
    position:relative;
    top:1px;
}

.cart{
	position:absolute;
	right:100px;
}

.favorite-position{
	position:absolute;
	right:200px;
	bottom:-120px;
	font-family:"Verdana";

}
h3{
   display:inline;
   position: absolute;
   bottom: -12px;
   left: 9px;
   width: 100%;
   color: black;
}

.expand {
  background-repeat: no-repeat;
  transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
  height: 98%;
  width: 100%;
  left: 0 !important;
  top: 0 !important;
  z-index: 99;
  cursor: hand;
  text-indent: -9999px;

}



/*ENOUGH SEX*/

.enough-sex-grid-container {
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}


.enough-sex-grid {
  margin: 0 auto;
}

.enough-sex-item {
  color: white;
  font-size: 20px;
  margin: 5px;
  width: 400px;
  background: #ffffff;
}

.enough-sex-title {
  font-family: "Century";
  position: relative;
  color: #000000;
  padding-left:10px;
}
