	@font-face {
  	font-family: 'Century';
  	src: url('../assets/fonts/headerfont.ttf');
	}

	.headline {
		width:1000px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		position:relative;
		font-family: "Century";
		font-size: 40px;
	}

	#fantasy{
		position:absolute;
		bottom: 1em;
		left:1em;
	}

	#fantasy_examples{
		position:absolute;
		bottom: 6em;
		left:19em;
		z-index: 1;

	}

	#left_arrow{
		position:absolute;
		bottom: 14em;
		left:14em;
		z-index: 1;
	}
		#right_arrow{
		position:absolute;
		bottom: 14em;
		left:39em;
		z-index: 1;
	}
	#fantasy_text{
		position:absolute;
		left:48em;
		top: 4em;
		font-family: "Century";
	}

	#fantasy_percentage{
		font-size: 150px;

	}

	#fantasy_type{
		font-size: 40px;
	}

	#image img { 
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top: 60px;
		width: 683px;
	}
	#container {
		width:683px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	#buttons {
		margin-top: 60px;
		font-family: "Century";
		font-size: 125px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		width:360px;
	}

	#text {
		font-family: "Century";
		width:380px;
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
		display: block;

	}
	#sweden {
		display: block;
		margin-left: 3px;
		margin-top: 2px;
	}
