@font-face {
	font-family: 'Century';
	src: url('../assets/fonts/headerfont.ttf');
}

@font-face {
	font-family: 'Bread';
	src: url('../assets/fonts/textfont.ttf');
}

/*Common Elements*/

.section {
	margin: 50px 20px 20px 20px;
	position: relative;
	height:600px;
  font-family: 'Century';
}

.lingonberry-section {
  margin: 50px 20px 20px 20px;
  position: relative;
  height:2000px;
  font-family: 'Century';
}


/*Landing Page*/

#intro-container {
	overflow: hidden;
	width:683px;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#jumbo-image img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 60px;
	width: 683px;
}

.bread-text{
  font-family: "Verdana";
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
}

.blue-button {
    background-color:#0076d1;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:none;
    display:inline-block;
    cursor:pointer;
    height:100%;
    width: 100%;
    color:#ffffff;
    font-family:Verdana;
    font-weight:bold;
    padding:7px 8px;
    text-decoration:none;

}
.blue-button:hover {
    background-color:#0380e0;
}
.blue-button:active {
    position:relative;
    top:1px;
}

.grey-button {
    background-color:white;
    border:none;
    cursor:pointer;
    color:#000000;
    position: absolute;
    bottom: 5px;
    right:5px;
    font-family:Verdana;
    font-size:12px;
    text-decoration:none;
}
.grey-button:active {
  color:#919191;
}



#sex-sounds {

}

.centerImage {
  width:400px;
  margin-left: auto;
  margin-right: auto;
}

.centerImage1 {
  width:800px;
  margin-left: auto;
  margin-right: auto;
}

#dictionary {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  /*border-style: */
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

}

#dictionary p {
  font-family: "Times New Roman";
  font-size: 14pt;
  font-style: italic;
}

#speaker{
 width:40px;
 bottom:50px;
}

.audio{
  cursor:pointer;
}

.screwHolder {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 10px;
}

#screwText{

margin-top: 250px;}

#screwNumber{
  display:inline;
  cursor: pointer;
  font-size: 100px;
}

#screwThemText{
  display:inline;
  font-size: 100px;
}


.screwHolder button{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 10px;
}

#screwYou, #screwYouText, #screwThem {
  width: 250px;
  float: left;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#buttons {
	margin-top: 60px;
	font-family: "Century";
	font-size: 125px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width:360px;
}

#text {
	font-family: "Century";
	width:380px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	display: block;

}
#sweden {
	display: block;
	margin-left: 3px;
	margin-top: 2px;
}

#average-amount-of-sexpartners{
  margin:auto 0;
  margin-top: 200px;
  text-align: center;
}

.buttonHolder {
  width:500px;
  margin-right: auto;
  margin-left: auto;
}

.buttonHolder1 {
  width:500px;
  margin-right: auto;
  margin-left: auto;
}


/*USED FOR SCREW SUBMIT BUTTON*/
.buttonHolder2 {
  width:100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}


#average-amount-of-sexpartners-buttons{
  margin-top: 70px;
  padding: 5px;
  font-size: 20px;
  float: left;
}

/*VIRGINITY*/
#lingonberry-img{
  cursor:pointer;
}


/*jam jars*/
#lingonberry{
	position:absolute;
  margin-top:30px;
	margin-bottom: 2800px;
	left:0; right:0; bottom:0;top:0;
}
.lingonberry-section{
	height:3300px;
}

/*Fantasy*/
.headline {
	width:800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*position:relative;*/
	font-family: "Century";
	font-size: 40px;
  display: block;
}

.headline1 {
  width:250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  text-align: center;
  position:relative;
  font-family: "Century";
  font-size: 60px;
}

.hugeText {
  font-family:Century;
  font-size:100px;
}
.fantasy-title {
  font-family: "Century";
  font-size: 15px;
  position: relative;
  color: #000000;
  padding-left:10px;
  width:10px;
}


/*GENDER*/

#gender {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
}

#gender:active{
  color:#000000;
}

#gender img {
  float: left;
  width: 233px;
}

	/* MOOSE */

#moose_head, #moose_antlers {
    margin:0 0 0 -270px; /* where 400px is width offset is / 2) */
    position:absolute;
    top:0;left:50%;
}

#moose_antlers{
    margin:0 0 0 -274px; /* let's guess second image was 200px wide */
}

form output{
position: relative;
left:41%;
font-size: 30px;
}


form {
  font-family: century;
  width: 300px;
  margin: 0 auto;
  position: relative;
  padding-top: 20px
}

form > div {
  position: relative;
  margin: 0 0 10px;
  z-index: 12;
}

label {
  display: block;
  margin: 0 0 10px;
}

input[type="range"] {
  width: 100%;
  height: 7px;
  /*width: 500px;*/
  /*background: #fff;*/
  /*overflow: hidden;*/
  /*-webkit-appearance: none;*/
}

/*
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  z-index: 3;
  width: 15px;
  height: 15px;
  background: #000000;
}

input[type="range"]::-webkit-slider-thumb:hover {
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:after {
  content: '';
  width: 500px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 1;
  background: #999999;
}*/

output {
  position: absolute;
  top: 0;
  right: 0;
}


/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {


}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {


}

/* Landscape phones and down */
@media (max-width: 480px) {


}

/*Missionary*/
.gridMissionary {
  margin: 0 auto;
}

/*POSITIONS*/
.grid-container {
  margin: 0 auto;
  margin-top: -30px;
  max-width: 60em;
  overflow: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}


.gridPositions {
  margin: 0 auto;
}

.item{
  color: white;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #CCCCCC;
}

.positions{
  font-family: "Century";
  font-size: 20px;
  position: relative;
  color: #000000;
  padding-left:10px;
  width:10px;
}

.price_tag {
   position: absolute;
   top:10px;
   right:10px;
   width: 60px; /* for IE 6 */
}

.add-to-cart-div {
   position: absolute;
   bottom:17px;
   right:10px;
  font-size:11px;


}

.cart{
	position:absolute;
	right:130px;
}

.favorite-position{
  position: absolute;
  right:70px;
  top:180px;
  width: 120px;
	font-family:"Verdana";

}
h3{
   display:inline;
   position: absolute;
   bottom: -12px;
   left: 9px;
   width: 100%;
   color: black;
}

.expand {
  background-repeat: no-repeat;
  transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
  height: 98%;
  width: 100%;
  left: 0 !important;
  top: 0 !important;
  z-index: 99;
  cursor: hand;
  text-indent: -9999px;

}

/*POSITIONS END*/

/*Fantasy*/
.fantasy{
  font-family: "Century";
  font-size: 15px;
  position: relative;
  color: #000000;
  padding-left:10px;
  width:10px;
  white-space: nowrap;
}

.gridFantasy {
  margin: 0 auto;
}

.favorite-choice{
  font-family:"Verdana";
  width:800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position:relative;
  display: block;
  z-index: 100;
}


.grid-container-fantasy {
  margin: 0 auto;
  margin-top: -30px;
  max-width: 70em;
  overflow: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}


/*SATISFIED*/
#satisfied-fade-in{
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  opacity: 0;
}


/*ENOUGH SEX*/

.enough-sex {
  position:static;
  margin-top: 30px;
  left:0; right:0; bottom:0;top:0;
  float:left;
  padding-right: 900px;

}

/*.enough-sex-section {
  height:700px;
  width:6000px;
}*/

/*#enough-sex-1{
  margin-bottom:1000px;
}*/


/*******************************************/
/*CITY POSTCARD*/

#postCardSection {
 /* display:none;*/
}

.sendCity {
min-width: 1400px;

}

.sendCity .headline {

}

.sendCity .headlineError {
  display:none;
}

.mapCardContainer {

}

.mapForCity {
  float:left;
}

.gridCity {
  margin: 0 auto;
}

.postCard{
  color: white;
  font-size: 20px;
  margin: 5px;
  width: 750px;
  overflow: hidden;
  cursor: pointer;
  background: #ffffff;
  background-repeat: no-repeat;

}

.postCard img {
  width:800px;
  height:520px;
}

/*HELP DUDES*/
.help-visible{
  position: absolute;
  top: 150px;
  right:10px;
  visibility: visible;
  z-index: 10000;
}

.help-hidden{
  visibility: hidden;
}

#new-home-town-button{
  width:200px;
  height:70px;
  margin: 0 auto;
}


