<!DOCTYPE html>
<html>
    <head>
        <title>Presentation</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/normalize.css" type="text/css">
        <link rel="stylesheet" href="../css/main.css" media="screen"/>
    </head>
    <body>
        <div class="section">
        <div id="gender">
        <h1>ARE YOU A?</h1>
        <img src="../assets/img/gender/female.svg"></img>Female
        <img src="../assets/img/gender/male.svg"></img>Male
        <img src="../assets/img/gender/other.svg"></img>Other
                </div>

        </div>
        <!--scripts-->
        <script type="text/javascript" src="../js/vendor/TweenMax.min.js"></script>
        <script src="../js/vendor/jquery-2.0.3.min.js"></script>
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-2.0.3.min.js"><\/script>')</script>
        <script src="../js/vendor/jquery.superscrollorama.js"></script>
    </body>
</html>