<!DOCTYPE html>
<html>
<head>
	<title>Presentation</title>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script src="../js/vendor/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="../js/vendor/fantasy.js"></script>

</head>
<div class="headline">
WHAT DO SWEDES FANTASIZE ABOUT?
</div>

<body>
	<div id="fantasy">
<img src="../assets/img/fantasy/bubble.svg">
<div id="fantasy_examples">
<img src="../assets/img/fantasy/thinking_about_sm.svg" height="300px">
	</div>
<div id="left_arrow">
<img src="../assets/nav/left_arrow.svg" height="60px">
</div>
<div id="right_arrow">
<img src="../assets/nav/right_arrow.svg" height="60px">
</div>
<div id="fantasy_text">
<div id="fantasy_percentage">
	10%
</div>
<div id="fantasy_type">
	&nbspS&M
</div>
</div>

</div>
</body>
</html>