<!DOCTYPE html>
<html>
    <head>
        <title>Fantasy</title>
        <meta charset="utf-8">
        <!--Main Stylesheet-->
        <link rel="stylesheet" type="text/css" href="../css/main.css">
    </head>
    <body>
        <div class="headline">
            WHAT DO SWEDES FANTASIZE ABOUT?
        </div>
        <div id="fantasy">
            <img id="fantasy-bubble" src="../assets/img/fantasy/bubble.svg">
            <div id="fantasy_examples">
                <img src="../assets/img/fantasy/thinking_about_sm.svg">
            </div>
            <div id="left_arrow">
                <img src="../assets/nav/left_arrow.svg">
            </div>
            <div id="right_arrow">
                <img src="../assets/nav/right_arrow.svg">
            </div>
            <div id="fantasy_text">
                <div id="fantasy_percentage">
                    10%
                </div>
                <div id="fantasy_type">
                    &nbspS&M
                </div>
            </div>
        </div>

        <!--SCRIPTS-->
        <script src="../js/vendor/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="../js/components/fantasy.js"></script>
    </body>
</html>