<head>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script type="text/javascript" src="../js/components/moose.js"></script>
    <script src="../js/vendor/jquery-2.0.3.min.js"></script>

</head>
<body>
<canvas id="canvas">

</canvas>
<div id="moose_head">
<img src="../assets/img/moose/moosehead0.svg" height="150px">
<div>
<div id="moose_antlers">
<img src="../assets/img/moose/moosehead1.svg" height="150px">
</div>
<form>
  <div>
    <label>How old are you?</label>
    <input type="range" name="range" min="0" max="100" step="1" value="18" />
    <output for="range"></output>
  </div>
</form>
</body>