<head>
 <link rel="stylesheet" href="../css/positions.css" type="text/css">
<script type="text/javascript" src="../js/components/positions.js"></script>
<script src="../js/vendor/jquery-2.0.3.min.js"></script>
<script src="../js/vendor/jquery.masonry.min.js"></script>

</head>
<br>
<br>
<br>
<br>
<section class="grid-container">
  <div class="grid">
    <a href="#"><div class="item i1"><img src="../assets/img/positions/69.svg" width="260px"><p class="title">69 <br>10%</p></div></a>
    <a href="#"><div class="item i1"><img src="../assets/img/positions/sm.svg" width="260px"><p class="title">S&M</p></div></a>
    <a href="#"><div class="item i1"><img src="../assets/img/positions/rodeo.svg" width="260px"><p class="title">Rodeo</p></div></a>
    <a href="#"><div class="item i1"><img src="../assets/img/positions/doggystyle.svg" width="260px"><p class="title">Doggystyle</p></div></a>
    <a href="#"><div class="item i1"><p class="title">Title</p></div></a>
    <a href="#"><div class="item i1"><p class="title">Title</p></div></a>
    <a href="#"><div class="item i1"><p class="title">Title</p></div></a>
    <a href="#"><div class="item i1"><p class="title">Title</p></div></a>
  </div>
</section>