<!DOCTYPE html>
<html>
<head>
    <title>Template</title>
    <meta charset="utf-8">

    <!--Main Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../css/main.css">

</head>
<body>
        <div class="headline">
            Page Title
        </div>

        <div class="main-container">

            <div id="#">

            </div>

        </div>
        <!--SCRIPTS-->
        <script src="../js/vendor/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="../js/components/#.js"></script>
    </body>
</html>