/*Fantasy*/

#fantasyCarousel {
        width: 400px;
        overflow:hidden;
    }

#fantasyCarousel ul {
    width: 4200px;
    padding: 0;
    margin: 0;
}

#fantasyCarousel ul li {
    width:480px;
    text-align: center;
    height: 280px;
    list-style: none;
    float:  left;
}

#fantasyCarousel img {
    height:300px;
}


















