/*Fantasy*/

/*Images*/

#fantasyImageCarousel {
        width: 400px;
        overflow:hidden;
    }

#fantasyImageCarousel ul {
    width: 4200px;
    padding: 0;
    margin: 0;
}

#fantasyImageCarousel ul li {
    width:480px;
    text-align: center;
    height: 280px;
    list-style: none;
    float:  left;
}

#fantasyImageCarousel img {
    height:300px;
}

/*Percentages*/

#fantasyPercentageCarousel {
        width: 400px;
        overflow:hidden;
    }

#fantasyPercentageCarousel ul {
    width: 4200px;
    padding: 0;
    margin: 0;
}

#fantasyPercentageCarousel ul li {
    width:480px;
    text-align: center;
    height: 20px;
    list-style: none;
    float:  left;
}

/*Names*/

#fantasyNameCarousel {
        width: 400px;
        overflow:hidden;
    }

#fantasyNameCarousel ul {
    width: 4200px;
    padding: 0;
    margin: 0;
}

#fantasyNameCarousel ul li {
    width:480px;
    text-align: center;
    height: 20px;
    list-style: none;
    float:  left;
}



















